# Dependencies
node_modules/
vendor/

# Build outputs
dist/
lib/
build/
*.tsbuildinfo
.turbo/

# PHP
composer.lock

# IDE / OS
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.local
.env.*.local

# Test outputs
coverage/
.phpunit.result.cache
